
fastapi
uvicorn
python-dotenv
python-multipart
pydantic


langgraph
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface


pinecone
motor
pymongo


sentence-transformers
torch


pypdf
python-docx
unstructured
markdown


tavily-python

httpx
orjson
rich


pytest

langchain_google_genai